<div class="container">
    <div class="banner-content d-flex justify-content-between align-items-end">
        <h1>List of cocktails</h1>
        <div class="add_cocktail">
            <%= link_to "Add cocktail", new_cocktail_path, class: "btn2 btn-ghost" %>
        </div>
    </div>
    <div class="row" id="card-list">
        <% @cocktails.each do |cocktail| %>
        <div class="col-12 col-md-6 col-lg-3">
            <% if cocktail.photo.attached? %>
            <% background_url = cl_image_path cocktail.photo.key, width: 400, height: 500, crop: :fill %>
            <% else %>
            <% background_url = 'https://source.unsplash.com/500x400/?cocktail' %>
            <% end %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_url %>');">
            <div class="card-description">
                <h2><%= cocktail.name %></h2>
            </div>
            <%= link_to "", cocktail_path(cocktail), class: 'card-link' %>
            </div>
        </div>
        <% end %>
    </div>
    <h3 id="home"> <%= link_to "Go home", root_path %> </h3>
</div>