<div class="container">
    <div class="add_form">
        <%= simple_form_for [ @cocktail ] do |f| %>
            <div class="input">
                <%= f.input :name %>
                <%= f.input :photo, as: :file %>
                <%= f.submit "Submit", class: "btn1 btn-primary" %>
                <%= link_to 'Back', root_path %>
            </div>
        <% end %>
    </div>
</div>