<h2><%= @cocktail.name %></h2>

<% if @cocktail.photo.attached? %>
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<h3><%= Ingredient %></h3>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %>
    <% end %>
  </ul>

<h3><%= 'Description' %></h3>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %>
    <% end %>
  </ul>

<%= link_to 'Add Recipe', new_cocktail_dose_path(@cocktail) %> |
<%= link_to 'Edit Recipe', new_cocktail_dose_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>