<div class="container">
    <div class="add_recipe_form">
        <%= simple_form_for [ @cocktail, @dose ] do |f| %>
            <div class="input">
                <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
                <%= f.input :description %>
                <%= f.submit "Submit", class: "btn1 btn-primary" %>
                <%= link_to 'Back', cocktail_path(@cocktail) %>
            </div>
        <% end %>
    </div>
</div>